* {
    box-sizing: border-box;
}

p{
    font-family: 'Inter', sans-serif;
    font-size: larger;
    text-align:justify;
    color: darkslateblue;
}

h1{

    font-family: 'Inter', sans-serif;
    text-align: center;
}

#one{
    text-align: center;
}

body{
    margin: 20px;
    padding: 20px;
}

section{
    background-color:beige;
}

@media screen and (max-width:520px) {
       img{
          width: 100%;
       }
}