* {
    box-sizing: border-box;
}

h1{
    font-family: 'Inter', sans-serif;
    text-align: center;
}

#one{
    text-align: center;
}

body{
    margin: 20px;
    padding: 20px;
    background: linear-gradient(45deg, darkviolet, violet);
}

#picture{
    border-radius: 10px;
}

main{
    background-color:white;
    border-radius: 10px;
    padding: 10px;
}

@media screen and (max-width:520px) {
       img{
          width: 100%;
       }
}